In [1]:
import pandas as pd

N = 100_000_000
separator = '\t'
base_folder = 'data/'
group_folder = 'MichelLardon/'
file = "2"

dsource_file = base_folder + 'donnees_sources'
dtarget_file = base_folder + group_folder + 'donnees_anonymes' + file

attack_file = base_folder + group_folder + 'fichier_attaque' + file + '.json'

In [2]:
dsource = pd.read_pickle(dsource_file + '.pkl')

In [3]:
dtarget = pd.read_pickle(dtarget_file + '.pkl')

In [ ]:

from sklearn.ensemble import RandomForestClassifier

df = pd.DataFrame(columns=['source_id', 'week_year', 'target_id'])

# Iterate over unique week_year values
for index, week_year in enumerate(dsource['week_year'].unique()):
    print(index, ':', week_year)

    X = ['timestamp', 'distance']
    # X = ['timestamp', 'lat', 'long']
    y = ['id']

    # Filter data for the current week_year
    src = dsource[dsource['week_year'] == week_year]
    tgt = dtarget[dtarget['week_year'] == week_year]

    clf = RandomForestClassifier(n_estimators=10, random_state=42, n_jobs=6)

    # Fit the model using partial_fit
    print('Fitting...')
    clf.fit(tgt[X], tgt[y])

    print('Predicting...')
    index_list = clf.predict(src[X])

    source_ids = src[y].squeeze().reset_index(drop=True)
    target_ids = index_list.squeeze()

    # dfi = pd.DataFrame({'source_id': source_ids.tolist(), 'week_year': week_year, 'target_id': tgt[y].squeeze()})
    print('Creating DataFrame...')
    dfi = pd.DataFrame({'source_id': source_ids, 'week_year': week_year, 'target_id': target_ids})

    # Append the current week's DataFrame to the main DataFrame
    df = pd.concat([df, dfi], ignore_index=True)

In [22]:
df

        source_id week_year target_id
0               1   2015-09   1494857
1               1   2015-09   1494857
2               1   2015-09   1494857
3               1   2015-09   1494857
4               1   2015-09   1494857
...           ...       ...       ...
3430294       110   2015-09   4573307
3430295       110   2015-09   4573307
3430296       110   2015-09   4573307
3430297       110   2015-09   4573307
3430298       110   2015-09   4573307

[3430299 rows x 3 columns]

In [44]:
occurrences = df.groupby(['target_id', 'week_year', 'source_id']).size().reset_index(name='occurrences')
df = df.merge(occurrences, on=['source_id', 'week_year', 'target_id'], how='left')
df.head(10)

  source_id week_year target_id  occurrences
0         1   2015-09   1494857         1968
1         1   2015-09   1494857         1968
2         1   2015-09   1494857         1968
3         1   2015-09   1494857         1968
4         1   2015-09   1494857         1968
5         1   2015-09   1494857         1968
6         1   2015-09   1494857         1968
7         1   2015-09   1494857         1968
8         1   2015-09   1494857         1968
9         1   2015-09   1494857         1968

Calcul du nombre total d'apparition de chaque source_id

In [45]:
total_count = df.groupby('source_id').size().reset_index(name='total_count')
df = df.merge(total_count, on='source_id', how='left')
df.head(10)

  source_id week_year target_id  occurrences  total_count
0         1   2015-09   1494857         1968       863885
1         1   2015-09   1494857         1968       863885
2         1   2015-09   1494857         1968       863885
3         1   2015-09   1494857         1968       863885
4         1   2015-09   1494857         1968       863885
5         1   2015-09   1494857         1968       863885
6         1   2015-09   1494857         1968       863885
7         1   2015-09   1494857         1968       863885
8         1   2015-09   1494857         1968       863885
9         1   2015-09   1494857         1968       863885

Calcul du pourcentage d'apparition d'un id source pour chaque semaine

In [46]:
df["percentage"] = df["occurrences"] / df["total_count"]
df = df.drop(['occurrences', 'total_count'], axis=1)
df.head(10)

  source_id week_year target_id  percentage
0         1   2015-09   1494857    0.002278
1         1   2015-09   1494857    0.002278
2         1   2015-09   1494857    0.002278
3         1   2015-09   1494857    0.002278
4         1   2015-09   1494857    0.002278
5         1   2015-09   1494857    0.002278
6         1   2015-09   1494857    0.002278
7         1   2015-09   1494857    0.002278
8         1   2015-09   1494857    0.002278
9         1   2015-09   1494857    0.002278

Suppression des duplicatas

In [47]:
df = df.drop_duplicates()
df.head(10)

    source_id week_year target_id  percentage
0           1   2015-09   1494857    0.002278
53          1   2015-09    225503    0.001770
76          1   2015-09   1829209    0.006296
241         1   2015-09   7402473    0.001052
313         1   2015-09   7319518    0.000164
328         1   2015-09   1125336    0.000208
413         1   2015-09   6609548    0.001593
593         1   2015-09   1461127    0.001072
613         1   2015-09   4386281    0.003590
629         1   2015-09   8526733    0.000832

In [48]:
import joblib

try:
    encoder = joblib.load(base_folder + group_folder + 'LabelEncoder' + file + '.joblib')
    df['target_id'] = encoder.inverse_transform(df['target_id'].tolist())
except:
    pass

In [49]:
result_dict = {}
e = df

while e.shape[0] != 0:
    e = e.sort_values(['percentage'], ascending=False)

    row = e.iloc[0]
    ano_id = row['target_id']
    week_year = row['week_year']
    src_id = row['source_id']

    if str(src_id) not in result_dict:
        result_dict[str(src_id)] = {week_year: [str(ano_id)]}
    else:
        result_dict[str(src_id)][week_year] = [str(ano_id)]

    e = e[~((e['target_id'] == ano_id) & (e['week_year'] == week_year))]
    e = e[~((e['source_id'] == src_id) & (e['week_year'] == week_year))]

result_dict

{'58': {'2015-09': ['6290814'], '2015-10': ['3437488']},
 '110': {'2015-09': ['2295226'], '2015-10': ['8290989']},
 '71': {'2015-15': ['3347588'],
  '2015-09': ['1494857'],
  '2015-17': ['1199841'],
  '2015-16': ['5305907'],
  '2015-11': ['5275813'],
  '2015-13': ['6271743'],
  '2015-12': ['6344403']},
 '83': {'2015-13': ['8956735'],
  '2015-10': ['7408315'],
  '2015-17': ['735602'],
  '2015-12': ['995718'],
  '2015-09': ['9607278'],
  '2015-19': ['5610465'],
  '2015-18': ['5610465'],
  '2015-14': ['8956735'],
  '2015-15': ['2605209']},
 '39': {'2015-15': ['9564600'],
  '2015-18': ['8165380'],
  '2015-09': ['8525546'],
  '2015-14': ['2757835']},
 '87': {'2015-11': ['710077'],
  '2015-10': ['3519774'],
  '2015-09': ['5020041'],
  '2015-17': ['4834555'],
  '2015-18': ['4834555'],
  '2015-16': ['2612459']},
 '14': {'2015-09': ['4643626'],
  '2015-10': ['3378265'],
  '2015-11': ['3671339']},
 '55': {'2015-09': ['3659973'], '2015-10': ['573306'], '2015-11': ['573306']},
 '23': {'2015-09': ['7319518'], '2015-10': ['1760431']},
 '52': {'2015-09': ['7042592'],
  '2015-10': ['7042592'],
  '2015-12': ['9395357'],
  '2015-11': ['5415731'],
  '2015-13': ['2044922']},
 '25': {'2015-09': ['6832342'], '2015-10': ['8967468']},
 '31': {'2015-12': ['6017333'],
  '2015-13': ['4091857'],
  '2015-10': ['8480521'],
  '2015-11': ['5192851'],
  '2015-14': ['1976817'],
  '2015-09': ['1390007'],
  '2015-15': ['5038901']},
 '21': {'2015-10': ['4643626'], '2015-09': ['3378265']},
 '6': {'2015-13': ['8776783'],
  '2015-14': ['3334312'],
  '2015-09': ['7922839'],
  '2015-15': ['2064136'],
  '2015-12': ['1344293'],
  '2015-11': ['4271962'],
  '2015-10': ['7922839']},
 '30': {'2015-14': ['4271750'],
  '2015-13': ['6609643'],
  '2015-15': ['2199399'],
  '2015-16': ['2291409'],
  '2015-12': ['518380'],
  '2015-18': ['821237'],
  '2015-10': ['3746612'],
  '2015-09': ['3746612'],
  '2015-11': ['1131263'],
  '2015-17': ['2141148']},
 '36': {'2015-09': ['6019350'],
  '2015-10': ['6019350'],
  '2015-11': ['3779906']},
 '28': {'2015-12': ['8964724'],
  '2015-11': ['6909989'],
  '2015-09': ['7402473'],
  '2015-13': ['7301905'],
  '2015-10': ['7402473']},
 '41': {'2015-11': ['6150005'],
  '2015-15': ['7385057'],
  '2015-10': ['4573307'],
  '2015-16': ['6299861'],
  '2015-14': ['5258355'],
  '2015-09': ['4573307'],
  '2015-13': ['5258355'],
  '2015-12': ['9800084']},
 '1': {'2015-14': ['9663162'],
  '2015-17': ['8712454'],
  '2015-15': ['2842634'],
  '2015-12': ['5964415'],
  '2015-18': ['3507733'],
  '2015-19': ['3507733'],
  '2015-11': ['9496520'],
  '2015-16': ['2764995'],
  '2015-09': ['1829209'],
  '2015-13': ['5093329'],
  '2015-10': ['5354687']},
 '107': {'2015-11': ['1833322'], '2015-10': ['7749155']},
 '73': {'2015-12': ['5465624'],
  '2015-11': ['7603395'],
  '2015-15': ['3388837'],
  '2015-10': ['1925347'],
  '2015-16': ['5704517'],
  '2015-13': ['5465624'],
  '2015-14': ['7149743'],
  '2015-19': ['4329438'],
  '2015-17': ['9468210'],
  '2015-09': ['595680'],
  '2015-18': ['645534']},
 '32': {'2015-12': ['5688529'],
  '2015-11': ['1803363'],
  '2015-17': ['1033750'],
  '2015-16': ['1033750'],
  '2015-15': ['9687426'],
  '2015-14': ['7698386'],
  '2015-13': ['689294'],
  '2015-19': ['5143599'],
  '2015-18': ['6501869']},
 '65': {'2015-13': ['7582561'],
  '2015-12': ['5457722'],
  '2015-14': ['2643982'],
  '2015-11': ['9739946']},
 '98': {'2015-10': ['2820494']},
 '75': {'2015-12': ['9335308'],
  '2015-09': ['703506'],
  '2015-18': ['2869438'],
  '2015-16': ['8076933'],
  '2015-14': ['3120640'],
  '2015-15': ['6973965'],
  '2015-10': ['703506'],
  '2015-19': ['2869438'],
  '2015-17': ['4708269'],
  '2015-13': ['9439228'],
  '2015-11': ['3029264']},
 '49': {'2015-15': ['5526712'],
  '2015-11': ['4373198'],
  '2015-12': ['4373198'],
  '2015-14': ['7474342'],
  '2015-13': ['3937305'],
  '2015-09': ['2217353'],
  '2015-10': ['3216101']},
 '50': {'2015-15': ['8590515'],
  '2015-12': ['1633569'],
  '2015-16': ['4968869'],
  '2015-10': ['3566609'],
  '2015-14': ['1905419'],
  '2015-11': ['8962954'],
  '2015-18': ['7791184'],
  '2015-13': ['1633569'],
  '2015-17': ['9942342'],
  '2015-19': ['7791184']},
 '62': {'2015-18': ['5143599'],
  '2015-09': ['2847484'],
  '2015-17': ['3474155'],
  '2015-15': ['2102039'],
  '2015-10': ['1369724'],
  '2015-13': ['7526345'],
  '2015-12': ['5120159'],
  '2015-14': ['5320397'],
  '2015-11': ['5314996'],
  '2015-19': ['9731975']},
 '18': {'2015-15': ['1698583'],
  '2015-18': ['4007'],
  '2015-12': ['6473986'],
  '2015-11': ['6473986'],
  '2015-14': ['9018578'],
  '2015-16': ['6611866'],
  '2015-17': ['7744298'],
  '2015-19': ['4007']},
 '48': {'2015-09': ['3669133'],
  '2015-15': ['3048711'],
  '2015-10': ['6850886']},
 '8': {'2015-14': ['4064517'],
  '2015-12': ['5687151'],
  '2015-10': ['3671339'],
  '2015-09': ['6608245'],
  '2015-15': ['6083411'],
  '2015-16': ['6083411'],
  '2015-11': ['9047471'],
  '2015-13': ['7417304']},
 '60': {'2015-18': ['2206298'],
  '2015-10': ['3468409'],
  '2015-11': ['8484439'],
  '2015-12': ['7349431'],
  '2015-09': ['7261450']},
 '5': {'2015-09': ['4817805'], '2015-10': ['532428']},
 '78': {'2015-12': ['4185570'],
  '2015-13': ['15123'],
  '2015-17': ['2486479'],
  '2015-11': ['8078277'],
  '2015-15': ['684622'],
  '2015-10': ['202877'],
  '2015-09': ['193254'],
  '2015-16': ['5816067']},
 '29': {'2015-10': ['4182327'],
  '2015-09': ['4182327'],
  '2015-13': ['7649717'],
  '2015-12': ['8124733']},
 '7': {'2015-09': ['6251677'],
  '2015-10': ['4498498'],
  '2015-16': ['1223735'],
  '2015-13': ['8892671'],
  '2015-11': ['3002496'],
  '2015-12': ['6884375'],
  '2015-14': ['7706068'],
  '2015-15': ['2388378']},
 '77': {'2015-09': ['4386281'],
  '2015-11': ['6276535'],
  '2015-17': ['5565762'],
  '2015-16': ['1001868'],
  '2015-10': ['3779906'],
  '2015-19': ['3363147'],
  '2015-12': ['3862126']},
 '11': {'2015-10': ['1778460'],
  '2015-09': ['9475148'],
  '2015-11': ['3618873']},
 '4': {'2015-18': ['8646960'],
  '2015-16': ['9468210'],
  '2015-15': ['9441056'],
  '2015-10': ['1934557'],
  '2015-13': ['958393'],
  '2015-19': ['8646960'],
  '2015-11': ['6067844'],
  '2015-09': ['8878999'],
  '2015-14': ['958393'],
  '2015-12': ['6067844'],
  '2015-17': ['3494240']},
 '2': {'2015-16': ['2851848'],
  '2015-17': ['7152328'],
  '2015-12': ['3931678'],
  '2015-14': ['3236406'],
  '2015-18': ['5556368'],
  '2015-19': ['5556368'],
  '2015-13': ['2005298'],
  '2015-10': ['1363666'],
  '2015-15': ['3236406'],
  '2015-11': ['532428'],
  '2015-09': ['3708276']},
 '81': {'2015-14': ['5038901'],
  '2015-12': ['8602136'],
  '2015-13': ['2643982'],
  '2015-11': ['995605'],
  '2015-15': ['4064517']},
 '51': {'2015-11': ['6335332'],
  '2015-13': ['6909473'],
  '2015-15': ['936499'],
  '2015-14': ['5558416'],
  '2015-18': ['2486479'],
  '2015-16': ['9441056'],
  '2015-10': ['6084963'],
  '2015-12': ['8748196'],
  '2015-17': ['9455129'],
  '2015-09': ['6275405'],
  '2015-19': ['2068846']},
 '59': {'2015-14': ['5928161'],
  '2015-15': ['6611866'],
  '2015-16': ['6484638'],
  '2015-13': ['834895'],
  '2015-17': ['731383'],
  '2015-12': ['130043'],
  '2015-10': ['7338669'],
  '2015-18': ['9716837'],
  '2015-11': ['5837378'],
  '2015-09': ['797501'],
  '2015-19': ['4677321']},
 '15': {'2015-09': ['1125336'],
  '2015-10': ['1125336'],
  '2015-11': ['3437488']},
 '72': {'2015-12': ['9170350'],
  '2015-16': ['2141148'],
  '2015-15': ['3443950'],
  '2015-17': ['7153570'],
  '2015-11': ['987113'],
  '2015-14': ['9828466'],
  '2015-13': ['9832124'],
  '2015-18': ['5565762'],
  '2015-19': ['8489874'],
  '2015-09': ['49326'],
  '2015-10': ['8878999']},
 '26': {'2015-12': ['425946'],
  '2015-10': ['1593525'],
  '2015-11': ['9261979'],
  '2015-17': ['5795835'],
  '2015-09': ['973299'],
  '2015-18': ['9871600']},
 '9': {'2015-10': ['5387764'],
  '2015-14': ['5472226'],
  '2015-15': ['9134914'],
  '2015-11': ['7512150'],
  '2015-18': ['3108833'],
  '2015-09': ['890610'],
  '2015-12': ['6713045']},
 '24': {'2015-18': ['5448263'],
  '2015-17': ['2120041'],
  '2015-16': ['6989676'],
  '2015-13': ['7730465'],
  '2015-15': ['2612459'],
  '2015-19': ['2721822'],
  '2015-14': ['7730465'],
  '2015-10': ['1657714'],
  '2015-11': ['1578067'],
  '2015-12': ['7195152'],
  '2015-09': ['8265782']},
 '37': {'2015-09': ['400216'], '2015-10': ['4112369']},
 '89': {'2015-09': ['1000336'], '2015-10': ['7231616']},
 '43': {'2015-12': ['5544781'],
  '2015-10': ['2652654'],
  '2015-11': ['5544781'],
  '2015-09': ['1871278']},
 '70': {'2015-11': ['5581450'],
  '2015-13': ['3707612'],
  '2015-12': ['8384352']},
 '69': {'2015-09': ['6609548'],
  '2015-10': ['9381730'],
  '2015-15': ['6866265'],
  '2015-17': ['3187302'],
  '2015-13': ['8800660'],
  '2015-14': ['225959'],
  '2015-18': ['2068846'],
  '2015-12': ['2758171'],
  '2015-16': ['6073723'],
  '2015-19': ['2406039'],
  '2015-11': ['9381730']},
 '42': {'2015-14': ['3102442'],
  '2015-13': ['3152046'],
  '2015-10': ['8048356'],
  '2015-17': ['8083342'],
  '2015-18': ['3394775'],
  '2015-15': ['5569976'],
  '2015-09': ['8526733'],
  '2015-11': ['8048356'],
  '2015-19': ['3394775'],
  '2015-12': ['4823248'],
  '2015-16': ['936499']},
 '38': {'2015-10': ['9693207'],
  '2015-09': ['2574105'],
  '2015-11': ['3652803']},
 '13': {'2015-16': ['7251585'],
  '2015-13': ['6450776'],
  '2015-12': ['5482136'],
  '2015-11': ['5869518'],
  '2015-09': ['1560316'],
  '2015-14': ['9937022'],
  '2015-15': ['1652420'],
  '2015-10': ['2449111']},
 '54': {'2015-09': ['4774141'],
  '2015-13': ['5629943'],
  '2015-12': ['3885458'],
  '2015-10': ['400216']},
 '35': {'2015-15': ['4597583'],
  '2015-14': ['9134914'],
  '2015-12': ['5609149'],
  '2015-13': ['7366487'],
  '2015-09': ['4895955']},
 '44': {'2015-10': ['4905321'],
  '2015-11': ['2011162'],
  '2015-09': ['3314911'],
  '2015-14': ['7814377']},
 '16': {'2015-09': ['3334430'],
  '2015-10': ['7220196'],
  '2015-11': ['3702844']},
 '27': {'2015-15': ['172801'],
  '2015-12': ['5316921'],
  '2015-11': ['4823248'],
  '2015-16': ['2218846'],
  '2015-09': ['225503'],
  '2015-10': ['225503'],
  '2015-13': ['5687151'],
  '2015-14': ['8533207']},
 '67': {'2015-18': ['1449376'],
  '2015-14': ['367544'],
  '2015-16': ['6310070'],
  '2015-17': ['3385530'],
  '2015-15': ['1368401'],
  '2015-13': ['23245'],
  '2015-11': ['7522423'],
  '2015-12': ['23245'],
  '2015-19': ['3697868'],
  '2015-10': ['5553913'],
  '2015-09': ['2060476']},
 '34': {'2015-10': ['2336666'], '2015-09': ['4920495']},
 '84': {'2015-13': ['6420466'],
  '2015-12': ['1784423'],
  '2015-11': ['4396735'],
  '2015-14': ['6420466']},
 '17': {'2015-11': ['2063535'],
  '2015-16': ['7744298'],
  '2015-12': ['4845374'],
  '2015-10': ['3618873'],
  '2015-09': ['1461127']},
 '53': {'2015-12': ['15123'],
  '2015-10': ['8114369'],
  '2015-11': ['2034700'],
  '2015-13': ['7833247']},
 '68': {'2015-16': ['2387756'],
  '2015-18': ['8489874'],
  '2015-14': ['2605209'],
  '2015-19': ['5358715'],
  '2015-13': ['5316921'],
  '2015-11': ['9640527'],
  '2015-12': ['5260597'],
  '2015-17': ['2137842'],
  '2015-09': ['2800697'],
  '2015-15': ['3334312'],
  '2015-10': ['2034700']},
 '66': {'2015-14': ['6740392'],
  '2015-12': ['5075057'],
  '2015-13': ['3225305'],
  '2015-11': ['1174786'],
  '2015-17': ['7852595'],
  '2015-19': ['1700860'],
  '2015-15': ['7129324']},
 '63': {'2015-15': ['5816067'],
  '2015-13': ['7572629'],
  '2015-16': ['2679164'],
  '2015-14': ['7385057'],
  '2015-10': ['7198009'],
  '2015-12': ['7778063'],
  '2015-18': ['7073779'],
  '2015-17': ['2851848']}}

In [50]:
from collections import OrderedDict

ordered_dict = OrderedDict(sorted((int(key), value) for key, value in result_dict.items()))

for key, value in ordered_dict.items():
    ordered_dict[key] = OrderedDict(sorted(value.items()))

In [51]:
import json

result_json = json.dumps(ordered_dict, indent=2)
with open(attack_file, 'w') as file:
    file.write(result_json)